@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --black: hsl(198, 24%, 8%);
    --white-cream: hsl(0, 0%, 70%);
}

* {
    box-sizing: border-box;
}

body {
    /* Location of the image */
    background-image: url("../images/bg-cover-main.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: black;
}

nav {
    padding-top: 20px;
}

nav img {
    width: 20%;
    height: auto;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    border: 0 20px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-left: 50px;
}

ul li a {
    color: var(--white-cream);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

ul li a:hover {
    border-bottom: solid;
    padding-bottom: 10px;
    color: var(--white-cream);
    width: 40px;
}

.heading {
    z-index: 100;
    color: var(--white-cream);
    justify-content: center;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 200;
    position: fixed;
    left: 90px;
    bottom: 225px;
    background-color: black 0.8;
}

footer {
    color: var(--white-cream);
    justify-content: center;
    position: fixed;
    left: 677px;
    bottom: 0;
    max-width: 100%;
    top: 642px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--white-cream);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    color: var(--white-cream);
}

footer a:visited {
    color: white;
}

footer h6 {
    font-family: Arial, sans-serif;
    font-weight: 200;
    font-size: 1.0em;
}

.heart {
    background-color: transparent;
    color: var(--white-cream);
}

.gallery {
    margin: 10px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.gallery img {
    transition: 1s;
    padding: 30px;
    width: 400px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.sponsors {
    color: var(--white-cream);
}