
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
:root {
    --black: hsl(198, 24%, 8%);
    --white-cream: hsl(0, 0%, 70%);
}

* {
    box-sizing: border-box;
}

body {
    /* Location of the image */
    background-image: url("../images/bg-cover-main.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: black;
    animation-name: bg-effect;
    animation-duration: 4s;
    opacity: 1;
}

/* Background animation effect */

@keyframes bg-effect{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navigation */
nav {
    padding-top: 20px;
}

nav img {
    width: 20%;
    height: auto;
    opacity: 0.9;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    border: 0 20px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-left: 50px;
}

.btn {
    color: var(--white-cream);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.5rem;
    animation-name: text-second;
    animation-duration: 9s;
}

btn:hover{
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 10px;
    color: var(--white-cream);
    width: 40px;
    position: relative;
}


.active, .btn:hover{
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 10px;
    color: rgb(98, 161, 255);
    width: 40px;
}

ul li a:hover{
    border-bottom: thin;
    padding-bottom: 10px;
    color: #d8d8d8;
    width: 40px;
}


/* Main Text */

.heading {
    z-index: 100;
    color: #fff;
    justify-content: center;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    line-height: 3.9rem;
    font-size: 2rem;
    position: fixed;
    left: 90px;
    bottom: 200px;
    background-color: black 0.8;
    animation-name: text-effect;
    animation-duration: 2s;
    opacity: 0.9;
}

/* IIIT VADODARA */

.second-line{
    z-index: 100;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 3.9rem;
    font-size: 0.46rem;
    position: fixed;
    letter-spacing: 1rem;
    left:90px;
    bottom: 150px;
    background-color: black 0.8;
    color: #0066FF;
    animation-name: text-second;
    animation-duration: 9s;
    
}



@keyframes text-second {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes text-effect {
    from {
        bottom: 160px;
        opacity: 0.5;
    }
    to {
        bottom: 200px;
        opacity: 0.9;
    }
}

footer {
    color: var(--white-cream);
    position: fixed;
    left: 46%;
    bottom: 0;
    max-width: 100%;
    text-align: center;
    padding-bottom: 5px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100!important;
    font-size: 0.8em;
    letter-spacing: 0.02rem;
}

footer a {
    text-decoration: none;
    color: var(--white-cream);
    font-size: 0.7em;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    color: var(--white-cream);
}

footer a:visited {
    color: rgb(216, 216, 216);
}

.fa-heart {
    color: #ed3a2d;
}

.gallery {
    margin: 10px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.gallery img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.Categories {
    padding-top: 0px;
}

.Core-Team {
    margin: 40px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.Core-Team img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
}

.Core-Team img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.Members {
    margin: 50px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.Members img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
}

.Members img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.Alumni {
    margin: 50px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.Alumni img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
}

.Alumni img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

h2 {
    display: flex;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--white-cream);
}

.sponsors {
    color: var(--white-cream);
}


/* For Contact Page */

.vertical {
    border-left: 4px solid var(--white-cream);
    width: 1.5px;
    height: 500px;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.email {
    position: relative;
    padding: 50px;
    width: 40%;
    top: 90px;
    left: 120px;
}

.email h2 {
    font-size: 1.9em;
}

.email a {
    color: var(--white-cream);
    text-decoration: none;
}

.email a:hover {
    color: white;
    text-decoration: underline;
}

.social {
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--white-cream);
    width: 30%;
    position: relative;
    left: 63%;
    bottom: 265px;
}

.smicons {
    padding-top: 18px;
    height: 100px;
    width: 345px;
    position: relative;
    left: 45px;
}

.fab {
    color: var(--white-cream);
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    font-size: 65px;
}

.fab:hover {
    color: white;
}



