@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
:root {
    --black: hsl(198, 24%, 8%);
    --white-cream: #b7b7b7;
}

* {
    box-sizing: border-box;
}

body {
    /* Location of the image */
    background-image: url("../images/bg-cover-main.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: black;
    animation-name: bg-effect;
    animation-duration: 4s;
    opacity: 1;
}


/* Background animation effect */

@keyframes bg-effect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 1300px;
    align-items: center;
    justify-content: space-between;
    border: 0 20px;
}

header .container img {
    width: 100px;
    height: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-left: 50px;
}

.btn {
    color: var(--white-cream);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.5rem;
    animation-name: text-second;
    animation-duration: 4s;
}

btn:hover {
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 10px;
    color: var(--white-cream);
    width: 40px;
    position: relative;
}

.active,
.btn:hover {
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 10px;
    color: #ff7d00;
    width: 40px;
}

ul li a:hover {
    border-bottom: thin;
    padding-bottom: 10px;
    color: #d8d8d8;
    width: 40px;
}


/* Main Text */

.heading {
    z-index: 100;
    color: #b7b7b7;
    justify-content: center;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    line-height: 3.9rem;
    font-size: 2rem;
    margin-top: 230px;
    margin-left: 125px;
    margin-bottom: 2px;
    background-color: black 0.8;
    animation-name: text-effect;
    animation-duration: 2s;
    opacity: 0.9;
}

.heading:hover {
    color: white;
    cursor: pointer;
}


/* IIIT VADODARA */

.second-line {
    cursor: pointer;
    z-index: 100;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 3.9rem;
    font-size: 0.46rem;
    letter-spacing: 1rem;
    margin-left: 130px;
    margin-bottom: 140px;
    background-color: black 0.8;
    color: #ff7d00;
    animation-name: text-second;
    animation-duration: 9s;
}

@keyframes text-second {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes text-effect {
    from {
        bottom: 160px;
        opacity: 0.5;
    }
    to {
        bottom: 200px;
        opacity: 0.9;
    }
}

.designed {
    color: var(--white-cream);
    position: absolute;
    left: 700px;
    bottom: 20px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100!important;
    font-size: 1.0em;
    letter-spacing: 0.02rem;
}

.made {
    color: var(--white-cream);
    position: relative;
    left: 0px;
    bottom: 0px;
    max-width: 100%;
    text-align: center;
    padding-bottom: 5px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100!important;
    font-size: 1.0em;
    letter-spacing: 0.02rem;
}

.designed a,
.made a {
    text-decoration: none;
    color: var(--white-cream);
    font-size: 0.7em;
}

.designed a:hover,
.made a:hover {
    text-decoration: underline;
}

.designed a:active,
.made a:active {
    color: var(--white-cream);
}

.designed a:visited,
.made a:visited {
    color: rgb(216, 216, 216);
}

.fa-heart {
    color: #ed3a2d;
}

.gallery {
    margin: 10px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.gallery img {
    transition: 0.3s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
    filter: grayscale(100%);
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.5s;
}

.mentor {
    display: block;
    margin-left: 405px;
    margin-right: auto;
    width: 50%;
}

.third {
    text-align: center;
    margin-left: auto;
}

.Categories {
    padding-top: 0px;
}

.Core-Team {
    margin: 40px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.Core-Team img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
    filter: grayscale(100%);
}

.Core-Team img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.5s;
}

.Members {
    margin: 50px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.Members img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
    filter: grayscale(100%);
}

.Members img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.5s;
}

.Alumni {
    margin: 50px 50px;
    padding-left: 100px;
    bottom: 100px;
}

.Alumni img {
    transition: 1s;
    padding: 30px;
    width: 400px;
    border-radius: 35px;
    filter: grayscale(100%);
}

.Alumni img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.5s;
}

h2 {
    display: flex;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--white-cream);
}

.sponsors {
    color: var(--white-cream);
}


/* For Contact Page */

.vertical {
    position: relative;
    border-left: 4px solid var(--white-cream);
    width: 1.5px;
    height: 400px;
    margin: 0 auto;
    margin-top: -350px;
}

.email {
    position: relative;
    padding: 50px;
    width: 40%;
    top: 80px;
    left: 7vw;
}

.email h2 {
    font-family: 'Vidaloka', serif;
    font-size: 1.9em;
}

.email a {
    font-family: 'Lato', sans-serif;
    color: var(--white-cream);
    text-decoration: none;
}

.email a:hover {
    color: white;
}

.social {
    font-family: 'Vidaloka', serif;
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--white-cream);
    width: 30%;
    position: relative;
    left: 63%;
    bottom: 295px;
    margin-bottom: 0px;
}

.smicons {
    height: 100px;
    width: 345px;
    position: relative;
    left: 10px;
}

.fab {
    color: var(--white-cream);
    margin: 0px 15px;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    font-size: 65px;
}

.fab:hover {
    color: white;
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .container {
        display: flex;
        margin: 0 auto;
        max-width: 100%;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }
    header .container img {
        margin-top: -5vh;
        margin-left: 34vw;
        width: 20vw;
        height: 20vw;
    }
    ul {
        margin-top: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin-left: -100vw;
    }
    ul li {
        margin-left: 4vw;
    }
    .btn {
        color: var(--white-cream);
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.2rem;
        animation-name: text-second;
        animation-duration: 1s;
    }
    .active,
    .btn:hover {
        border-bottom-style: solid;
        border-bottom-width: thin;
        padding-bottom: 10px;
        color: #ff7d00;
        width: 40px;
    }
    .heading {
        justify-content: center;
        margin-left: 5vw;
        margin-top: 19vh;
        font-size: 1.2em;
    }
    .second-line {
        justify-content: center;
        margin-left: 7vw;
        margin-top: -8vw;
    }
    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 40%;
        bottom: 100px;
    }
    .gallery img {
        padding: 30px;
        width: 400px;
        border-radius: 35px;
        filter: grayscale(0%);
    }
    .gallery img:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }
    .mentor {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .Core-Team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 100px;
        margin: 2vh -3vw;
        padding-left: 2vw;
    }
    .Core-Team img {
        margin-right: 20vw;
        transition: 0.3s;
        filter: grayscale(0%);
    }
    .Core-Team img:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }
    .Members {
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 100px;
        margin: 2vh -3vw;
        padding-left: 2vw;
    }
    .Members img {
        transition: 0.3s;
        filter: grayscale(0%);
    }
    .Members img:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }
    .Alumni {
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 100px;
        margin: 2vh -3vw;
        padding-left: 2vw;
    }
    .Alumni img {
        transition: 0.3s;
        filter: grayscale(0%);
    }
    .Alumni img:hover {
        transform: scale(1.1);
        transition: all 0.3s;
    }
    .email {
        padding: 10px;
        width: 90%;
        top: 0px;
        left: 2%;
    }
    .email h2 {
        font-size: 1.5em;
    }
    .vertical {
        transform: rotate(90deg);
        height: 90vw;
        margin-top: -20vh;
    }
    .social {
        width: 90%;
        height: 40%;
        left: 0%;
        margin-top: 20vh;
    }
    .social h1 {
        text-align: center;
        font-size: 1.4em;
    }
    .fab {
        color: var(--white-cream);
        margin: 0px 25px;
        width: 25px;
        height: 25px;
        margin-right: 30px;
    }
    .designed {
        color: var(--white-cream);
        left: 26vw;
        top: 85vh;
        max-width: 100%;
    }
    .made {
        color: var(--white-cream);
        position: relative;
        left: -2vw;
    }
}