@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');


:root{
    --black: hsl(198, 24%, 8%);
    --white-cream: hsl(0, 0%, 70%);
}


* {
    box-sizing: border-box;
}

body{
    background-image: url("./images/bg-cover-main.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    padding-top: 10px;
}

nav img{
    width: 20%;
    height: auto;
}
.container{
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    border: 0 20px;
}


ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul li{
    margin-left: 50px;
}

ul li a{
    color: var(--white-cream);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

nav a:hover{
    border-bottom: solid;
    padding-bottom: 10px;
    color: var(--white-cream);
    width: 40px;
}

.heading{
    z-index: 100;
    color: var(--white-cream);
    justify-content: center;
    position: fixed;
    left: 80px;
    bottom: 180px;
    background-color: black 0.8;
}

footer{
    color: var(--white-cream);
    bottom: 0;
}